/****** Object:  Database [InventoryManagement]    Script Date: 12/1/2019 9:44:28 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'InventoryManagement')
BEGIN
CREATE DATABASE [InventoryManagement]   WITH CATALOG_COLLATION = DATABASE_DEFAULT;

END
GO
